@model List<Business.Models.Entrega>

<h2>Entregas Atuais</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Endereço</th>
            <th>Descrição</th>
            <th>Valor</th>
            <th>Data de Início</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var entrega in Model)
        {
        <tr>
            <td>@entrega.endereco</td>
            <td>@entrega.descricao</td>
            <td>R$ @entrega.valor</td>
            <td>@entrega.inicio.ToString("dd/MM/yyyy HH:mm")</td>
        </tr>
        }
    </tbody>
</table>