@{
    ViewData["Title"] = "Homepage do Conferente";
}

<h2>Bem-vindo, Conferente!</h2>

<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Pedidos Pendentes</h5>
                <p class="card-text">Visualize os pedidos que ainda precisam ser entregues.</p>
                <a asp-controller="Entregador" asp-action="Pendentes" class="btn btn-success">Ver Entregas a Aceitar</a>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Histórico</h5>
                <p class="card-text">Acompanhe os pedidos já aceitos.</p>
                <a asp-controller="Entregador" asp-action="Aceitar" class="btn btn-success">Ver Entregas Aceitas</a>
            </div>
        </div>
    </div>
</div>