@{
    ViewData["Title"] = "Homepage do Conferente";
}

<h2>Bem-vindo, Conferente!</h2>

<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Pedidos Pendentes</h5>
                <p class="card-text">Visualize os pedidos que ainda precisam ser conferidos.</p>
                <a href="#" class="btn btn-primary">Ver Pedidos</a>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Histórico</h5>
                <p class="card-text">Acompanhe os pedidos já conferidos.</p>
                <a href="#" class="btn btn-secondary">Ver Histórico</a>
            </div>
        </div>
    </div>
</div>