@model Business.Models.Conferente
@{
    ViewData["Title"] = "Logar de Entregador";
}

<h2>Logar Entregador</h2>

<form asp-action="Logar" method="post">
     <h1>Insira seu Login</h1>
     <div class="mb-3">
        <label asp-for="login" class="form-label">Login</label>
        <input asp-for="login" class="form-control" />
    </div>
    <div class="mb-3">
        <label asp-for="senha" class="form-label">Senha</label>
        <input asp-for="senha" type="password" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Logar</button>
     <a asp-controller="Entregador" asp-action="criar_login_entregador" class="btn btn-primary">Criar Login</a>
</form>