<form>
   <h1>Insira seu Login</h1>
  <div class="form-group">
        <input type="text" class="form-control" id="loginEnt" placeholder="Digite seu Login" required>
  </div>
  <br />
  <div class="form-group">
        <input type="password" class="form-control" id="senhaEnt" placeholder="Digite sua Senha" required>
  </div>
  <br />
  <button type="submit" class="btn btn-primary">Entrar</button>
  <button type="reset" class="btn btn-primary">Limpar</button>
  <a href="criarloginconferente.html" class="btn btn-primary">Criar Login</a>  
</form>